@charset "utf-8";
:root{
  --blue:#7484bf;
  --purple:#a264a6;
}
body{
  color: #323232;
}
.layout {
  max-width: 1600px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.jc-e {
  justify-content: flex-end
}
.jc-c{
  justify-content: center;
}
.jc-sb{
  justify-content: space-between;
}
.ai-c{
  align-items: center;
}
.ai-e {
  align-items: end;
}
.bg-gray{
  background-color: #f7f7f7;
  padding: 60px 0 40px;
}
.title{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer-inner{
  padding: 50px 0;
  color: #aaa;
}
@media (max-width: 1600px) {
  .layout {
    padding: 0 20px;
  }
}